.select-contact-page {
  margin-bottom: 3em;
}

.title {
  display: flex;
  justify-content: start;
  margin-left: 1.2rem;
  margin-top: 6em;
  font-size: 1em;
}

contacts-list {
  width: 100%;
  display: flex;
  margin-top: 10em;
}