.contacts-list {
  margin-bottom: 6em;
}

.contacts-list
.select-contact-page {
  margin-bottom: 3em;
}

.contacts-list
.title {
  display: flex;
  justify-content: start;
  margin-left: 1.2rem;
  margin-top: 6em;
}

.contacts-list
.title-add {
  display: flex;
  justify-content: start;
  margin-left: 1.2rem;
}