.marge-contact {
  margin-top: 1em;
  margin-bottom: 2em;
}

.contacts-list
.select-contact-page {
  margin-bottom: 5em;
}

.contacts-list
.title {
  display: flex;
  justify-content: flex-start;
  margin-left: 1.2rem;
  margin-top: 6em;
}

.contacts-list
.title-add {
  display: flex;
  justify-content: flex-start;
  margin-left: 1.2rem;
  margin-top: 2em;
}