.card-contacts {
  background-color: #D4E0F6;
  text-align: center;
  background-color: #F5F9FD;
}

.moon {
  margin-top: 8em;
}

.CardContacts-h3 {
  margin-top: 3em;
}

.CardContacts-p {
  margin: 3em 1em 1em;
}