.authorList {
    display: flex;
    margin-bottom: 20px;
}

.authorSelect button {
    color: #7180AC;
    font-weight: bold;
}

.authorSelect {
    padding-left: 5vw;
    margin-bottom: 10px;
}

.authorTitle {
    margin-bottom: 10px;
    color: #7180AC;
    font-weight: bold;
    font-size: 12px;
}