.authorList {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.authorSelect button {
    color: #7180AC;
    font-weight: bold;
}

.authorSelect {
    padding-left: 5vw;
}

.authorTitle {
    margin-bottom: 10px;
    color: #7180AC;
    font-weight: bold;
    font-size: 12px;
}

.error-author {
    color: #ff0000;
    font-weight: 500;
    font-size: 12px;
    position: relative;
    bottom: 22px;
}

.AddFamilyMember {
    margin-top: 5px;
}