.calendar-moment {
    margin: 30px 0 0 20px;
    display: flex;
}

.calendar-moment img {
    margin-left: 20px;
}

.calendar-moment p {
    margin-top: 5px;
}

.create {
    background-color: #F5F9FD ;
    margin-top: 5em;
}

.sendError {
    color: #ff0000;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
}
