.cont-flex-navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #FFFFFF;
  border-top: 2px outset #E9EFFA;
  box-shadow: 0 -.6em .5em #E9EFFA;
  margin-top: .5em;
}

.item-flex-navbar {
  text-align: center;
  color: #7180AC;
  line-height: 1.5em;
  font-weight: 600;
  padding: 16px;
  font-family: roboto;
  font-size: 12px;
}

img {
  height: 2em;
  width: 2em;
}