.validateButton .btn-active, .validateButton .btn-inactive {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: none;
  height: 60px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  z-index: -1;
}

.validateButton .btn-inactive {
  background-color: #D4E0F6;
}

.validateButton .btn-active {
  background-color: #FF89D2;
}