.emial-background {
  height: 100vh;
  background-color: #F5F9FD;
  width: 100%;
  margin-top: 5em;
}

.email-background .title{
  text-transform: uppercase;
  margin-top: 7rem;
  padding-left: 4%;
}

.general-form-connexion .input-email {
    display: block;
    width: 100%;
    border: solid 1px #E9EAFA;
    border-radius: 4px;
    background-color: #ffffff;
    height: 5em;
    margin-bottom: 2.5em;
}

.general-form-connexion .input-email-error {
    display: block;
    width: 100%;
    border: solid 1px #ff0000;
    border-radius: 4px;
    background-color: #ffffff;
    height: 5em;
    margin-bottom: 2.5em;
}
.general-form-connexion .msg-error-email {
    position: absolute;
    display: block;
    width: 90%;
    margin-left: 5%;
    margin-top: -2em;
    color: #ff0000;
    font-weight: 500;
    font-size: 12px;
}