.settings-container-pwdmail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
}
.settings-pwmail-title{
    text-transform: uppercase;
    padding-left: 5%;
    margin-top: 10%;
}

.label-settings{
    text-transform: uppercase;
    margin-left: 1%;
    padding-top: 10%;
}

.settings-container-eye{
    display: block;
    position: absolute;
    right: 10%;
    height: auto;
    padding-top: 5%;
}

.settings-container-eye .show-eye{
    border: none;
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
}

.settings-container-eye .show-eye-open{
    border: none;
    display: block;
    position: absolute;
    right: 15%;
    top: 30%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
}

.show-eye2{
    border: none;
    display: block;
    position: absolute;
    right: 15%;
    top: 53%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    background-image: url('../../images/eye-slash-regular1.svg');
    background-repeat: no-repeat;
    background-position: 90% center;
    padding-left: 20px;
}

.show-eye-open2{
    border: none;
    display: block;
    position: absolute;
    right: 15%;
    top:53%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    background-image: url('../../images/eye-open.svg');
    background-repeat: no-repeat;
    background-position: 90% center;
    padding-left: 20px;
}
