.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F9FD;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.logo-monogramme {
  width: 40px;
  padding: 0;
  margin-top: 5%;
}

.action-link {
  display: block;
  position: absolute;
  right: 5%;
  font-weight: 700;
  font-size: 12px;
  color: #7180AC;
  text-transform: uppercase;
}

.action-link a {
  text-decoration: none;
}