.form-container .logo-monogramme{
    height: 50px;
    text-align: center;
    margin-bottom: 50px;
    background-image: url('../../../images/monogrammeTH.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 3%;
}