
.champ textarea {
    resize: none;
    border: solid 1px #E9EFFA;
    border-radius: 4px;
    width: 90vw;
    margin-top: 10px;
    padding:20px 15px;
    margin-left: 5vw;
}

.champ label {
    color: #7180AC;
    font-weight: bold;
    margin-left: 5vw ;
    padding-left: 0;
}

.champ ::placeholder {
    color: #98A7CD;
    font-weight: bold;
}