.activeCitation {
  background-color: #91E9FE;
}

.activeFait {
  background-color: #D3FF9B ;  
}

.imgCitation {
  position: relative;
  top: 3px;
  right: -4px;
}

.imgFait {
  position: relative;
  top: 2px;
  left: 3px;
}

.momentNavbar {
  margin-bottom: 20px;
  box-shadow: 0px 10px 10px #E3E9F2;
  height: 42px;
}

.momentNavbar a {
  width: 50%;
  display: inline-block;
  padding: 12px 0;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #7180AC;
  text-align: center;
}

.momentNavbar img {
  padding-right: 10px;
  height: 15px;
}

