.spin-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
  width: 100%;
}

.password-content {
  text-align: left;
}

.password-content p {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.password-content ul, .password-content p {
  font-weight: 500;
  font-size: 0.75em;
  color: #7180AC;
  margin-left: 1.5em;
}

.password-content li {
  list-style-type: none;
}