.connexion-background {
    height: 100vh;
    background-color: #F5F9FD;
    width: 100%;
}

.general-form-connexion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.general-form-connexion {
    width: 90vw;
    color: #7180AC;
}

.general-form-connexion input, label {
    display: block;
    padding: 20px 0px 20px 20px;
    font-size: 12px;
    margin-left: 15px;
}

.general-form-connexion .input-connexion {
    display: block;
    width: 100%;
    border: solid 1px #E9EAFA;
    border-radius: 4px;
    background-color: #ffffff;
    height: 5em;
}

.general-form-connexion .label-connexion {
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
}

.mdp-forbiden {
    background-image: url('../../images/eye-slash-regular1.svg');
    background-repeat: no-repeat;
    background-position: 90% center;
    padding-left: 20px;
}

.mdp-open {
    background-image: url('../../images/eye-open.svg');
    background-repeat: no-repeat;
    background-position: 90% center;
    padding-left: 20px;
}

.general-form-connexion .general-label {
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
}

.plholder::placeholder {
    font-style: italic;
    font-weight: 500;
    color: #7180AC
}

.general-form-connexion .connexion-btn-inactif{
    position: fixed;
    bottom: 0px;
    /* For the demonstration Default:0 */
    width: 100%;
    border: none;
    height: 60px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    background-color: #D4E0F6;
}

.general-form-connexion .connexion-btn-actif{
    position: fixed;
    bottom: 0px;
    width: 100%;
    border: none;
    height: 60px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    background-color: #FF89D2;
}

.general-form-connexion .input-connexion-error{
    display: block;
    width: 100%;
    border: solid 1px #ff0000;
    border-radius: 4px;
    background-color: #ffffff;
    height: 5em;
}
.general-form-connexion .input-pws-error{
    display: block;
    width: 100%;
    border: solid 1px #ff0000;
    border-radius: 4px;
    background-color: #ffffff;
    height: 5em; 
}

.general-form-connexion .input-psw-default {
    display: block;
    width: 100%;
    border: solid 1px #E9EAFA;
    border-radius: 4px;
    background-color: #ffffff;
    height: 5em;
}
.connexion-lien a {
    position: absolute;
    right: 10px;
    padding-top: 10px;
    padding-right: 15px;
    font-weight: 500;
    color: #7180AC;
}