.cont-passwordLost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6em;
  text-align: center;
  width: 100%;
}

.cont-passwordLost .text {
  text-align: left;
  margin-left: 1em;
  margin-bottom: 2em;
}

.cont-passwordLost label {
  text-align: left;
  margin-left: 0;
}

.cont-passwordLost input {
  width: 90%;
  color: #7180AC;
  padding-left: 1.5em;
  height: 5em;
  border: none;
  background-color: #ffffff;
  margin: auto;
  border-radius: 2px;
  font-weight: 700;
  font-size: 0.75em;
}

.cont-passwordLost input.error {
  border: solid 1px #ff0000;
}

.cont-passwordLost .msg-error {
  margin-left: 2em;
}