body {
    background-color: #F5F9FD;
}

.signUp {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
}


.signUp_input {
    display: flex;
    flex-direction: column;
}

label {
    margin: 15px 0 15px 0;
    color: #7180AC;
    font-size: 20px
    
}
input {
    height: 35px;
    border: solid 1px #E9EAFA;
    border-radius: 5px;
    padding: 5px 5px 5px 25px;
}