a{
    border: none;
    background-color: white;
    text-decoration: none;
    font-weight: 500;
}

.connect{
    padding: 18px 0;
    width: 50%;
    background-color: white;
    color: #7180AC;    
}

.register {
    background-color: #FF89D2;
    padding: 18px 0;
    width: 50%;
    color: white;
}

.sign{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;   
}
