<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
}
.general-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.general-form{
    width:90vw;
    color: #7180AC;
}
.general-form input, label{
    display: block;
    padding: 20px 0px 10px 20px;
    font-size: 12px;
    margin-left: 15px;
}

.general-form .general-input{
    display: block;
    width: 95%;
    height: 30px;
    border: solid 1px #E9EAFA;
    border-radius: 5px;
    background-color: #ffffff;    
}

.general-form .general-label{
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
}

.plholder::placeholder{
    font-style: italic;
    font-weight: 500;
}

.general-form .general-btn{
    position: absolute;
    bottom: 0;
    width: 100%;
    border: none;
    height: 60px;
    text-transform: uppercase;
    /* background-color: #D4E0F6; */
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
}

=======
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
.App {
  text-align: center;
}

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
>>>>>>> dev
